extends layout

block content

  h1 #{title}: #{genre.name}

  if books_with_this_genre.length
    p #[strong Please remove this genre from these books before proceeding:]
    for book in books_with_this_genre
      div(style='margin-left:20px;margin-top:20px')
        dl
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
  else
    p Do you really want to delete this genre?
    form(method='POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden' name='genreid' value=genre._id required='true')
      button.btn.btn-primary(type='submit') Delete
